.ng-pristine .ng-untouched{
    background-color: cyan;
}

.ng-dirty .ng-touched{
    background-color: rosybrown;
}

.ng-valid{
    color:green;
}

.ng-invalid{
    border-width:2px;
    border-color:maroon;
}