<h2>Add a new Person</h2>
<hr/>
<h3>Using Interpolation Binding</h3>
<h5>{{greeting}}</h5>
<span>App Rating: {{5*12/100}}</span>
<br/>
<span>Calculate your age as dog years:{{CalculateDogyears(25)}}</span>
<br/>
Recently joined:{{p.name}} with aadhar no,{{p.aadhar}} of age {{p.age}} Joined.
<br/>
<hr/>
<h3>Using [] Binding - Attribute / Directive Binding: TS -> HTML</h3>
<span>which state do you belong to?</span><input type="text" [value]="state"/>
<button class="btn btn-primary" (click)="handleClick(state)">Done</button>
<p>{{status}}</p>
<hr/>
<h3>Add the new person using ngModel [()] binding</h3>
<form>
    <div>
    <input type="text" name="aadhar" class="form-control" placeholder="Enter aadhar number" [(ngModel)]="p.aadhar"/>
    Value in code: {{p.aadhar}}
    </div>
    <br/>
    <div>
    <input type="text" name="name" class="form-control input" placeholder="Enter your name" [(ngModel)]="p.name"/>
    Value in code: {{p.name}}
    </div>
    <br/>
    <div>
    <input type="number" name="age" class="form-control" placeholder="Enter your age" [(ngModel)]="p.age"/>
    Value in code: {{p.age}}
    </div>
    <br/>
    <div>
    <input type="checkbox" name="isAlive" class="form-check-input" [(ngModel)]="p.isAlive"/>
    Value in code: {{p.isAlive}}
    </div>
    <br/>
    <button class="btn btn-success" (click)="addPerson(p.aadhar,p.name,p.age,p.isAlive)">Add</button>
    <span>{{status}}</span>
</form>
<div style="height:500px" height="1500px"></div>